@model MvcMovie.Models.Evento

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Evento</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.tipoEvento)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.tipoEvento)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.lugar)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.lugar)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.invitados)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.invitados)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.detalles)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.detalles)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.solicitud">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
