@model IEnumerable<MvcMovie.Models.Evento>

@{
    ViewData["Title"] = "Eventos";
}

<h2>Eventos</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.tipoEvento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.lugar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.invitados)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.detalles)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.tipoEvento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.lugar)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.invitados)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.detalles)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.solicitud">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.solicitud">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.solicitud">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
